<% include partials/header %>

<div class="container">

<h1 style="text-align:center">Log in to Gyaanbaato</h1>
 
<form action="/login" method="POST">
    <div class="form-group">
    <input class="form-control" type="email" placeholder="email" name="username" required="required">
    </div>
    <div class="form-group">
     <input class="form-control" type="password" placeholder="password" name="password" required="required">
     </div>
     <div class="form-group">
    <button class="btn btn-lg btn-default"> Login </button>
    </div>
</form>

</div>

<% include partials/footer %>